<!DOCTYPE html>
<html class="no-js" lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ziptrip</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!--bower:css-->
        <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
        <!--endbower-->

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
    </head>
    <body ng-app="road-Trip" ng-controller="loginController">

      <header>
        <h1><a href="#/">zip<strong>trip</strong></a></h1>
        <nav class="nav">
            <!-- <a href="#/start" class="newtrip">New Trip</a>
            <a ng-hide="loggedIn" href="#/home/user" class="login">Saved Trips</a>
            <a ng-hide="loggedIn" href="#/panel-login" class="login">Login</a>
            <a ng-hide="loggedIn" href="#/panel-signup" class="login">Sign Up</a>
            <a ng-show="loggedIn" ng-click="logout()" href="" class="logout">Logout</a> -->
        </nav>

        <a href="" class="hamburger"></a>
        <nav class="hamburger-nav">
          <ul>
            <li><a href="#/start" class="newtrip">New Trip</a><li>
            <li><a ng-hide="loggedIn" href="#/home/user" class="login">Saved Trips</a><li>
            <li><a ng-hide="loggedIn" href="#/panel-login" class="login">Login</a><li>
            <li><a ng-hide="loggedIn" href="#/panel-signup" class="login">Sign Up</a><li>
            <li><a ng-show="loggedIn" ng-click="logout()" href="" class="logout">Logout</a><li>
          </ul>
        </nav>
      </header>

        <main class="container">
          <ng-view><span class="fa fa-5x fa-spinner fa-spin"></span></ng-view>
        </main>


        <!--bower:js-->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
        <!--endbower-->

        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>


        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWA4o7Txx8dfRJCRaXyMIESQtIiq6y7nI&signed_in=true&callback=initMap" -->
            <!-- async defer></script> -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_djHAXJgmjY1balaTg0nzlg5RonxJrJk&libraries=places" async defer></script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
