<section class="main-content login">
  <h2 class="heading center">Login</h2>

  <div class="tab-content">
  <section id="panel-login" class="panel active">

  <section class="form-container center">
      <form class="start" ng-submit="login.submit()">
        <fieldset>
        <label class="gray">Username<input type="text" placeholder="RoadTripper9" ng-model="login.user.username" /></label>
        <label class="gray">Password<input type="password" placeholder="********" ng-model="login.user.password"/></label>
      </fieldset>
      <div class="button">
        <button class="login" type="submit">log in</button>
      </div>
      </form>
    </section> <!-- END .form-container -->

    <section class="alternate">
      <p>Don't have an account? <a href="#panel-signup">Sign up</a></p>
      </section>

  </section> <!-- END .panel-login -->
  </div> <!-- END .tab-content -->
</section> <!-- END .main-content -->
