<section class="main-content selection">
  <h2 class="heading">City Suggestions</h2>
<section class="form-container">
  <form class="suggestion-content" ng-repeat="city in suggestions" ng-submit="submit()">
    <input type="checkbox" checklist-model="selected.city_name" checklist-value="city.location" name="selectedCities[]"> {{city.location}}<br>
    <!-- <input ng-repeat="activity in city.activities" type="checkbox" name="city_along"> {{activity.title}}<br> -->

  </form>
  <div class="button">
    <button class="next" type="submit" ng-click="update(city)">Submit</button>
  </div>

  <tt>cities = {{selected.city_name}}</tt>

</section> <!-- END form-container -->
</section>
