<section class="main-content login">
  <h2 class="heading">Sign up</h2>

  <div class="tab-content">
  <section id="panel-signup" class="panel active">

  <section class="form-container">
      <form class="start" ng-submit="signup.createUser()">
        <fieldset>
        <label>Username<input type="text" ng-model="signup.user.username" placeholder="username" /></label>
        <label>Email<input type="email" ng-model="signup.user.email" placeholder="your@email.com" /></label>
        <label>Password<input type="password" ng-model="signup.user.password" placeholder="********" /></label>
      </fieldset>
      <div class="button">
      <button class="login" type="submit">Sign up</button>
      </div>
      </form>
    </section> <!-- END .form-container -->

    <section class="alternate">
      <p>Have an account already? <a href="#panel-login">Log in</a></p>
      </section>

  </section> <!-- END .panel-login -->
  </div> <!-- END .tab-content -->
</section> <!-- END .main-content -->
