<section class="main-content login">
  <h2 class="heading center">Sign up</h2>

  <div class="tab-content">
  <section id="panel-signup" class="panel active">

  <section class="form-container center">
      <form class="start" ng-submit="signup.createUser()">
        <fieldset>
        <label class="gray">Username<input type="text" ng-model="signup.user.username" placeholder="username" required/></label>
        <label class="gray">Email<input type="email" ng-model="signup.user.email" placeholder="your@email.com" required/></label>
        <label class="gray">Password<input id="pass1" type="password" ng-model="signup.user.password" placeholder="******" minlength=6 required/></label>
        <label class="gray">Confirm Password<input id="pass2" type="password" placeholder="******" minlength=6 required/></label>
      </fieldset>
      <div class="button">
      <button class="login" type="submit">sign up</button>
      </div>
      <span class="pass-error" ng-hide="pwvalid" >password does not match</span>
      <span class="created" ng-hide="created" >account created!</span>
      <span class="user-exists" ng-hide="exists" >username already exists!</span>
      </form>
    </section> <!-- END .form-container -->

    <section class="alternate">
      <p>Have an account already? <a href="#panel-login">Log in</a></p>
      </section>

  </section> <!-- END .panel-login -->
  </div> <!-- END .tab-content -->
</section> <!-- END .main-content -->
