<section class="main-content timeline">
  <nav class="tabs">
    <a href="" ng-click="showme=true" ng-init="showme=true">Timeline</a>
    <a href="" ng-click="showme=false">Map View</a>
  </nav>
  <section class="tlv" ng-show="showme">
    <h3>{{main.title}}</h3>
    <ul class="origin-section">
      <li class="city-desc">
        <span class="start-end">{{main.origin}}</span>
        <span class="city-date">Departs {{main.origin_date | date}}</span>
        <span class="city-date">at {{main.origin_time}}</span>
      </li>
    </ul>
    <ul class="city-section">
      <li class="city-desc" ng-repeat="city in cities">
        <span class="city-name">{{city.city_name}}</span>
        <!-- <span class="city-date">Arrives {{city.arrival_date | date}}</span> -->
        <a class="event-card" href="#" ng-repeat="activity in city.activities">
          <span class="event-name">{{activity.title}}</span>
          <span class="event-location">{{activity.location}}</span>
          <span class="event-date">{{activity.date | date}}</span>
        </a>
      </li>
    </ul>
    <ul class="destination-section">
      <li class="city-desc">
        <span class="start-end">{{main.destination}}</span>
        <span class="city-date">Arrives {{main.destination_date}}</span>
      </li>
    </ul>
  </section>

  <section class="map-content panel" ng-hide="showme">
  <div id="floating-panel">
  <b>Start: </b>
  <select id="start" onchange="calcRoute()">
    <option value="chicago, il">Chicago</option>
    <option value="st louis, mo">St Louis</option>
    <option value="joplin, mo">Joplin, MO</option>
    <option value="oklahoma city, ok">Oklahoma City</option>
    <option value="amarillo, tx">Amarillo</option>
    <option value="gallup, nm">Gallup, NM</option>
    <option value="flagstaff, az">Flagstaff, AZ</option>
    <option value="winona, az">Winona</option>
    <option value="kingman, az">Kingman</option>
    <option value="barstow, ca">Barstow</option>
    <option value="san bernardino, ca">San Bernardino</option>
    <option value="los angeles, ca">Los Angeles</option>
    <option value="tampa, fl">Tampa</option>
    <option value="cary, nc">Cary</option>
    <option value="greenville, NC">Greenville, NC</option>
  </select>
  <b>End: </b>
  <select id="end" onchange="calcRoute()">
    <option value="chicago, il">Chicago</option>
    <option value="st louis, mo">St Louis</option>
    <option value="joplin, mo">Joplin, MO</option>
    <option value="oklahoma city, ok">Oklahoma City</option>
    <option value="amarillo, tx">Amarillo</option>
    <option value="gallup, nm">Gallup, NM</option>
    <option value="flagstaff, az">Flagstaff, AZ</option>
    <option value="winona, az">Winona</option>
    <option value="kingman, az">Kingman</option>
    <option value="barstow, ca">Barstow</option>
    <option value="san bernardino, ca">San Bernardino</option>
    <option value="los angeles, ca">Los Angeles</option>
    <option value="raleigh, nc">Raleigh</option>
    <option value="charlotte, nc">charlotte</option>
  </select>
  </div>
  <!-- <div id="map"></div> -->

<iframe src="https://www.google.com/maps/dir/Durham,NC/Nashville,TN/Chicago,IL/" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  </section>


  <script>

  function initMap() {
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer;
  var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 7,
  center: {lat: 41.85, lng: -87.65}
  });
  directionsDisplay.setMap(map);

  var onChangeHandler = function() {
  calculateAndDisplayRoute(directionsService, directionsDisplay);
  };
  document.getElementById('start').addEventListener('change', onChangeHandler);
  document.getElementById('end').addEventListener('change', onChangeHandler);
  };

  //DISPLAY ROUTE
  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  directionsService.route({
  origin: document.getElementById('start').value,
  destination: document.getElementById('end').value,
  travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
  if (status === google.maps.DirectionsStatus.OK) {
    directionsDisplay.setDirections(response);
  } else {
    window.alert('Directions request failed due to ' + status);
  }
  });
  };

  </script>


  </section>




</section>
