<section class="main-content timeline">

  <nav class="tabs">
    <a href="" ng-click="showme=true" class="button-timeline" ng-init="showme=true">Timeline</a>
    <a href="" ng-click="showme=false" class="button-map" >Map View</a>
  </nav>
  <section class="tlv" ng-show="showme">
    <h3>{{main.title}}</h3>
    <ul class="origin-section">
      <li class="city-desc">
        <span class="start-end">{{main.origin}}</span>
        <span class="city-date">Departs {{main.origin_date | date}}</span>
        <span class="city-date">at {{main.origin_time}}</span>
      </li>
    </ul>
    <ul class="city-section">
      <li class="city-desc" ng-repeat="city in cities">
        <span class="city-name">{{city.city_name}}</span>
        <!-- <span class="city-date">Arrives {{city.arrival_date | date}}</span> -->
        <a class="event-card" href="#" ng-repeat="activity in city.activities">
          <span class="event-name">{{activity.title}}</span>
          <span class="event-location">{{activity.location}}</span>
          <span class="event-date">{{activity.date | date}}</span>
        </a>
      </li>
    </ul>
    <ul class="destination-section">
      <li class="city-desc">
        <span class="start-end">{{main.destination}}</span>
        <span class="city-date">Arrives {{main.destination_date}}</span>
      </li>
    </ul>
  </section>
  <section id="map" class=""></section>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_djHAXJgmjY1balaTg0nzlg5RonxJrJk&callback=initMap" async defer></script>
  </section>

<script>
// $(document).ready(initMap());

$('.button-map').on('click', function(){
  $('#map').addClass('active');
  initMap();

$('.button-timeline').on('click', function(){
  $('#map').removeClass('active');
})
})
</script>
