<h2 class="heading center">Itinerary</h2>
<section class="main-content timeline">
  <div class="buttons">
   <button class="save" ng-click="savetrip()">save this trip</button>
   <a href="#/start"><button class="return">plan return trip</button></a>
 </div>
  <nav class="tabs">
    <a href="" ng-click="showme=true" class="button-timeline active" ng-init="showme=true">Timeline</a>
    <a href="" ng-click="showme=false" class="button-map">Map View</a>
  </nav>
  <div ng-show="loading" class ="spinner">
      <span class="fa fa-5x fa-spinner fa-spin"></span>
      <span class="spinner-text">generating cities and activities</span>
  </div>
<section class="timeline-map">
  <form class="timeline" ng-submit="titleToSave.savetrip()">
    <input class="user-title" ng-model="add.trip.title" type="text" placeholder="{{main.origin | removeUSA}} to {{main.destination | removeUSA}}">{{titleToSave}}</input>
  </form>
  <section class="tlv" ng-show="showme">
    <section class="tlv-container">
    <ul class="origin-section">
      <li class="city-desc">
        <span class="start-end">{{main.origin | removeUSA}}</span>
        <span class="city-date">Departs {{main.origin_date | date}}</span>
      </li>
    </ul>
    <ul class="city-section">
      <li class="city-desc" ng-repeat="city in cities">
        <span class="city-name">{{city.city_name}}</span>
        <!-- <span class="city-date">Arrives {{city.arrival_date | date}}</span> -->
        <article class="event" ng-repeat="activity in city.activity_set">
        <div class="event-card" ng-class="{hotelscolor: (activity.category == 'hotels'), activitiescolor: (activity.category == 'activities'), foodcolor: (activity.category == 'food'), sportcolor: (activity.category == 'sport'), artistcolor: (activity.category == 'artist')}">
        <a href="{{activity.url}}" target="_blank" href="#">
          <span class="event-name">{{activity.title}}</span>
        </a>
      </div>
        <section class=details>
        <span class="event-location" ng-hide="city.activity_set.address.length === 0">{{activity.address}}</span>
        <span class="event-date" ng-hide="city.activity_set.date.length === 0">{{activity.date | date}} {{activity.time}}</span>
        <span class="event-phone" ng-hide="city.activity_set.phone.length === 0">{{activity.phone| date}}</span>
        <span class="event-phone" ng-hide="activity_set.small_rate_img_url === 0"><img ng-src="{{activity.small_rate_img_url}}"/></span>
      </section>
      </article>
      </li>
    </ul>
    <ul class="destination-section">
      <li class="city-desc">
        <span class="start-end">{{main.destination | removeUSA}}</span>
        <span class="city-date">Arrives {{main.destination_date}}</span>
      </li>
    </ul>
    <!-- <button class="bottom" ng-click="savetrip()">save this trip</button> -->
  </section>
  </section> <!-- END .tlv-container -->
  <section id="map" class=""></section>
</section> <!-- END .timeline-map -->

<div class="desktop-button">
  <button class="desktop-bottom" ng-click="savetrip()">save this trip</button>
  <a href="#/start"><button class="desktop-bottom-return">plan return trip</button></a>
</div>

  <section class="footer">
    <div class="footer-container">
      <p class="footer"> powered by:<img class="footer" src="https://cloud.githubusercontent.com/assets/14016133/11045241/432f8618-86f4-11e5-992d-f22b6aa92d03.png"> <img src="https://cloud.githubusercontent.com/assets/14016133/11045397/3b7646ae-86f5-11e5-8442-5867c5c29dd4.png"></p>
      <p class="footer">&copy; ziptrip 2015
    </div>
  </section> <!-- END .footer -->
  </section>


<script>
// $(document).ready(initMap());

$(function () {

$('.button-map').on('click', function(){
  $('#map').addClass('active');
  $('.button-map').addClass('active');
  $('.button-timeline').removeClass('active');
  initMap();
});
$('.button-timeline').on('click', function(){
  $('#map').removeClass('active');
  $('.button-timeline').addClass('active');
  $('.button-map').removeClass('active');
});




  });
</script>
