@media screen and (min-width: 768px) {

  .hamburger {
    display: none;
  }

  .nav {
    display: block !important
  }

  h2.heading {
    width: 80% !important;
    text-align: left !important;
  }

  .form-container {
    margin: 0;
    float: left;
    width: 68%;
  }

  .breadcrumb {
    width: 80%;
  }

  .form-container.center {
    border: 1px solid #e6e6e6;
    padding: 5%;
    max-width: 400px;
    background: #fff;
    margin: 0 auto 10px auto;
    width: 50%;
    float: none !important;

}

section.main {
  width: 80%;
  margin: 0 auto;

    aside.aside-container {
      border: 1px solid #e6e6e6;
      padding: 3%;
      width: 30%;
      background: #fff;
      margin: 0 auto;
      display: block !important;
      float: right;
      padding-bottom: 27%;

        p.side {
          color: #9d9d9d;
          font-weight: 300;
          margin-top: 0;
        }

        p.date {
          color: #9d9d9d;
          font-weight: 300;
          margin-top: 0;
          font-size: .9em;
        }

        img {
          margin: 0 auto 20px -2px;
          width: 100%;
        }
  }

}

   .alternate {
     width: 50%;
     margin: 0 auto;
     padding: 2% !important;
     max-width: 400px;
   }

   h2.heading.center {
     width: 50% !important;
     text-align: center !important;
   }

   .breadcrumb.center {
     width: 50% !important;
     text-align: center !important;
     padding-left: 40px !important;
   }

   div.trip {
     font-size: 1em;
   }

   .saved {
     max-width: 600px;
     margin: 0 auto;
     width: 60%;
   }


   section.tlv {
     margin: 0 !important;
     width: 50% !important;
   }


   [class*="dropdown-list-"] li label:hover {
       background-color: $dark;
       color: white;
   }







}
