@media screen and (min-width: 768px) {

  // hide hamburger nav when in desktop view
  .hamburger {
    display: none !important;
  }

  .nav {
    display: block !important;

      a[href] {
        display: inline-block;
      }
  }

  h2.heading {
    width: 80% !important;
    text-align: left !important;
  }

  .form-container {
    margin: 0;
    float: left;
    width: 68%;
  }

  .breadcrumb {
    width: 80%;
  }

  .form-container.center {
    border: 1px solid #e6e6e6;
    padding: 5%;
    max-width: 400px;
    background: #fff;
    margin: 0 auto 10px auto;
    width: 50%;
    float: none !important;
}

section.main {
  width: 80%;
  margin: 0 auto;
  position: relative;

    aside.aside-container {
      border: 1px solid #e6e6e6;
      padding: 3%;
      width: 30%;
      background: #fff;
      margin: 0 auto;
      display: block !important;
      float: right;
      padding-bottom: 175px;

        p.side {
          color: #9d9d9d;
          font-weight: 300;
          margin-top: 0;
        }

        p.date {
          color: #9d9d9d;
          font-weight: 300;
          margin-top: 0;
          font-size: .9em;
        }

        img {
          margin: 0 auto 20px -2px;
          width: 100%;
        }
  } // end aside-container

}

   .alternate {
     width: 50%;
     margin: 0 auto;
     padding: 1% !important;
     max-width: 400px;
   }

   h2.heading.center {
     width: 50% !important;
     text-align: center !important;
     background: #f5f5f5;
   }

   .breadcrumb.center {
     width: 50% !important;
     text-align: center !important;
     max-width: 400px;
   }

   div.trip {
     font-size: 1em;
   }

   .saved {
     max-width: 600px;
     margin: 0 auto;
     width: 60%;
   }


   section.tlv {
     margin: 0 !important;
     width: 50% !important;
     float: left;
     height: 600px;
     overflow: auto;
     padding-left: 14px;

        .tlv-container {
          width: auto !important;
          padding-right: 20px;
          display: block !important;
        }


   }


   [class*="dropdown-list-"] li label:hover {
       background-color: $dark;
       color: white;
   }


.timeline-map {
  margin: 0 auto;
  width: 90%;

   #map {
     display: block !important;
     float: right;
     width: 50%;
     height: 600px;
     margin: 0 auto;

     .tlv {
       display: block !important;
       width: 50%;
       height: 600px;
     }
   }

   button.bottom {
     display: none;
   }

}

div.desktop-button {
  display: block;
  margin: 20px auto;
  width: 100%;
  text-align: center;

   button.desktop-bottom {
     text-align: center;
     margin: 0 auto 5px auto;
     display: block;
     padding: 1%;
     font-size: .8em;
     display: inline-block;
   }

   button.desktop-bottom-return {
     text-align: center;
     margin: 0 auto 5px auto;
     display: block;
     padding: 1%;
     font-size: .8em;
     display: inline-block;
   }
}

  nav.tabs {
    display: none;
  }

  div.buttons {
    background: #f5f5f5;

      .save, .return {
        padding: 1% !important;
      }

  }


  .main-content.timeline {
    background: #f5f5f5;
  }

form.timeline {
  background: #f5f5f5;
  width: 50%;
  margin: 0 auto;
  padding-top: 0 !important;

  input {
    height: 37px;
  }

}

  input.user-title {
    background: #f5f5f5 !important;

    &:hover {
      border: 1px solid #c3c3c3;
    }

  }




} // end desktop media query
