$accent: #E45F56;
$dark: #35404F;
$teal: #4AAAA5;
$light-teal: #7ACCC8;
$green: #A3D39C;

.main-content.login {
  width: 90%;
  margin: 0 auto;
}

.form-container-center {

    form.start {

          label {
            display: block;
            padding: 5px 5px 10px 2px;
            font-size: 1em;
            color: darken(#c3c3c3, 15%);
            text-transform: lowercase;
            font-weight: 400;
            margin-bottom: 8px;
          }

          input {
            font-size: 12px;
            display: block;
            width: 100%;
            height: 28px;
            border: 1px solid #c3c3c3;
            font-weight: 200;
            padding-left: 1%;
            color: #000;
            font-weight: 300;
         }

    } // END .START
}

.alternate {
  margin-top: 8px;
  border: 1px solid #e6e6e6;
  padding: 2%;
  background: #fff;
  opacity: .93;

    p {
      text-align: center;
      font-size: 10pt;

          a[href] {
            color: lighten($dark, 15%);
            font-size: 10pt;
            font-weight: 500;
            text-decoration: none;
          }
    }
}


label.gray {
  display: block;
  padding: 5px 5px 10px 2px;
  font-size: 1em;
  color: darken(#c3c3c3, 15%);
  text-transform: lowercase;
  font-weight: 400;
  margin-bottom: 8px;
}

    span.pass-error {
      display: block;
      text-align: center;
      color: red;
      font-weight: 300;
      font-size: 0.8em;
      padding-top: 0px;
      margin-top: 10px;
    }

    span.created {
      display: block;
      text-align: center;
      color: green;
      font-weight: 300;
      font-size: 0.8em;
      padding-top: 0px;
      margin-top: 10px;
    }
    
    span.user-exists {
      display: block;
      text-align: center;
      color: red;
      font-weight: 300;
      font-size: 0.8em;
      padding-top: 0px;
      margin-top: 10px;
    }
