$accent: #E45F56;
$dark: #35404F;
$teal: #4AAAA5;
$light-teal: #7ACCC8;
$green: #A3D39C;

h2.heading {
  padding-top: 25px;
  margin-top: 0;
  color: #fff;
}

h3.cities {
  color: $accent;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 0;
}

.main-content.selection {
  width: 90%;
  margin: 0 auto;
}

form.suggestion-content {
  background: #fff;
  // padding: 5%;
  min-width: 300px;
  max-width: 500px;
  background: #fff;
  margin-bottom: 20px;
}

article.activities {
  @extend .clearfix;
  width: 100%;
}

[class*='col-'] {
  // outline: 1px solid #000;
  width: 50%;
  float: left;
}
