$accent: #E45F56;
$dark: #35404F;
$teal: #4AAAA5;
$light-teal: #7ACCC8;
$green: #A3D39C;

label.title {
  color: $dark !important;
  display: inline-block !important;
  font-size: 1em !important;
  text-indent: -22px;
  padding-left: 22px;
}

div.checkbox {
  a[href] {
    display: inline-block;
  }
}

.form-container-selection {
  border: 1px solid #e6e6e6;
  padding: 5%;
  max-width: 400px;
  background: #fff;
  margin: 0 auto;

  .button {
    margin: 0 auto;
    width: 97%;
    display: block;
    position: relative;
    text-align: center;

      button.next {
        display: inline-block;
        color: #fff;
        border: none;
        vertical-align: middle;
        margin-top: 2.5%;
        margin-right: 2%;
        padding: 2% 6%;
      }

  } // END .next-button

}


h2.heading {
  padding-top: 25px;
  margin-top: 0;
  color: #fff;
}

p.copy {
  text-align: center;
  text-transform: none;
  width: 300px;
  color: $dark;
  margin: 0 auto 20px auto;
}

.breadcrumb-selection {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin-top: 0;
  margin-left: auto; margin-right: auto;
  max-width: 400px;

    li {
      float: left;
    }

    li a[href] {
      color: lighten($accent, 20%);
      text-decoration: none;
      padding: 0px 30px 5px 0px;
      position: relative;
      display: block;
      float: left;
      font-size: .8em;
      font-weight: 300;

      &.active {
        color: $accent;
        font-weight: 400;
      }

    }

}

.breadcrumb-selection li a:after {
	content: "\bb";
	position: absolute;
	left: 76%;
}

.breadcrumb li:last-child a:after {
  content: " " !important;
}

h3.cities {
  color: $accent;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 15px;
}

.main-content.selection {
  width: 90%;
  margin: 0 auto;


// TODO: put back in styled checkboxes and dynamtically bind them

      // input[type=checkbox] { //HIDES CHECKBOXES
      // 	visibility: hidden;
      // }

 //      div.checkbox {
 //        position: relative;
 //      }
 //
 //      div.checkbox label {
 //    	cursor: pointer;
 //    	position: absolute;
 //    	width: 18px;
 //    	height: 18px;
 //    	background: #fff;
 //    	border:1px solid #ddd;
 //    }
 //
 //    .checkbox label:after {
 //    	opacity: 0.4;
 //    	content: '';
 //    	position: absolute;
 //    	width: 10px;
 //    	height: 6px;
 //    	background: transparent;
 //    	top: 4px;
 //    	left: 3px;
 //    	border: 3px solid darken($green, 10%);
 //    	border-top: none;
 //    	border-right: none;
 //
 //    	-webkit-transform: rotate(-45deg);
 //    	-moz-transform: rotate(-45deg);
 //    	-o-transform: rotate(-45deg);
 //    	-ms-transform: rotate(-45deg);
 //    	transform: rotate(-45deg);
 //    }
 //
 //    .checkbox label:hover::after {
 //      opacity: 0.5;
 //     }
 //
 //    .checkbox input[type=checkbox]:checked + label:after {
 // 	     opacity: 1;
 // }

}

form.suggestion-content {
  background: #fff;
  margin-bottom: 25px;
}

article.activities {
  @extend .clearfix;
  width: 100%;

    h5.category {
      margin-top: 0;
      margin-bottom: 4px;
      color: $light-teal;
      font-weight: 500;
    }

    label {
      font-size: .9em;
    }

    p.cat {
      font-size: .9em;
      margin-left: 6px;
      margin-top: 0;
      color: darken(#c3c3c3, 15%);
      font-weight: 300;
      width: auto;
      display: inline-block;
    }

    a.price {
      font-size: .9em;
      padding-left: 8px;
      margin-top: 0;
      color: darken(#c3c3c3, 15%) !important;
      font-weight: 300;
      width: auto;
      display: inline-block;

    }

    p.time {
      font-size: .9em;
      margin-left: 22px;
      margin-top: 0;
      color: darken(#c3c3c3, 15%);
      font-weight: 300;
      width: auto;
      display: inline-block;
    }

    hr.break {
      width: 100%;
    }

    a[href] {
      text-decoration: none;
      color: $dark;
      margin-left: 22px;
    }

}


[class*='col-'] {
  margin-bottom: 18px;
}


section.footer {
  text-align: center;
  border-top: 1px solid #c3c3c3;
  margin-top: 30px;

  p.footer {
    font-size: .8em;
    color: $dark;

    img.footer {
      margin-top: -5px;
      margin-left: 5px;
    }
  }

}
