$accent: #E45F56;
$dark: #35404F;
$teal: #4AAAA5;
$light-teal: #7ACCC8;
$green: #A3D39C;



.main-content.welcome {
  margin: 0px 10px 0 0;
	width: 100%;
  z-index: 2;


  // img.banner {
  //   width: 100%;
  //   position: absolute;
  //   z-index: 0;
  // }

div.welcome-top {

  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  margin-top: -64px;
  align-items: center;
  background-image: url("../img/welcome-car-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 3;

  @media screen and (min-height: 480px) { //iphone4 height
    height: 420px;
  }

  @media screen and (min-height: 570px) { //iphone5 height
    height: 508px;
  }

  @media screen and (min-height: 627px) { //iphone6 height
    height: 540px;
  }

  @media screen and (min-height: 736px) { //iphone6+ height
    height: 640px;
  }


  h2.heading {
    margin-top: 0px;
    padding-top: 2.9em;
    color: white;
    font-size: 2em;
    @media screen and (min-width: 400px) { //iphone6+ height
      font-size: 3em;
    }


  }
  div.welcome {
    margin: auto;
    padding-top: 2.5em;
    display: block;
    width: 85%;
    align-items: baseline;
    margin-bottom: 60%;
    @extend .clearfix;


    input#welcome_destination {
      float: left;
      display: inline-block;
      width: 88%;
      border-style: none;
      height: 2.5em;
      color: black;
      font-weight: 300;
      text-align: center;
    }
    a.start {
      float: right;
      width: 12%;
      height: 2.5em;
      background-color: $teal;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      i {
        font-size: 1.5em;
        color: white;
        padding-top: 8px;
      }
    }
  }


} //welcome-top

  div.how-works {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background: #f5f5f5;
    @extend .clearfix;
    p.copy.welcome {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 5px;
      color: $dark;
      margin-bottom: 20px;
    a.how-works {
      display: block;
      text-align: center;
      background-color: $teal;
      color: white;
      padding-left: 5px;
      padding-right: 5px;
      i.fa-angle-double-down{
        text-decoration: none;
        font-size: 2em;
      }


    }
    div.how-works-bottom {
      display: block;
      background: $teal;
      display: block;
      height: 10px;
      width: 100%;
      margin: 0 auto;
    }
  }


  }
  div.images{
    margin-top: 10px;
    img.main {
      padding-bottom: 10px;
      width: 100%;
    }
  }

  a.meet-team {
    text-align: center;
    display: block;
    font-size: 1em;
    font-weight: 300;
    margin: 1em auto;
  }
  div.team {
    width: 100%;
    text-align: center;
    align-items: center;
    display: block;
    div.group {
      width: 80%;
      margin: 1em auto;
      span.prof{
        width: 45%;
        display: inline-block;
        text-align: center;
        img.prof{
          display: block;
          width: 70%;
          border: 3px solid #f5f5f5;
          border-radius: 50%;
          margin: 0 auto;
        }
        span.name{
          display: block;
          font-size: 1.5em;
          font-weight: 400;
          color: $dark;
        }
        span.role{
          display: block;
          font-size: 0.9em;
          font-weight: 200;
          color: $dark;
        }
        a.contact {
          display: inline-block;
          i{
            color: $dark;
            font-size: 1.2em;
            margin: 0 0.3em;
          }
        }
      }
    }
  }





} //welcome
