$accent: #E45F56;
$dark: #35404F;
$teal: #4AAAA5;
$light-teal: #7ACCC8;
$green: #A3D39C;

.main-content.welcome {
  margin: 0px 10px 0 0;
	width: 100%;

  img.main {
    padding-bottom: 10px;
    width: 100%;
  }

  a[href] {
    text-decoration: none;
  }

  button.start {
    text-align: center;
    margin: 0 auto 20px auto;
    display: block;
  }

}

p.copy.welcome {
  width: 57vw;
}
